Repository ruslanpalagin/game_example, pull requests merged in 2019-08, with the labels that each got.

#5 Feature/fix is dead
  client/dev_story/Screenshot from 2019-08-01 20-40-23.png
  client/dev_story/Screenshot from 2019-08-01 20-48-05.png
  client/src/game/view/Animator.js
  client/src/game/view/ItemsFactory.js
  client/src/game/view/View.js
Labels: client, server

#6 Refactor dirs & files. No new logic. core/WS_ACTIONS.js created to store constants
  client/package.json
  client/src/App.js
  client/src/game/Game2D.js
  client/src/game/LocalServerConnection.js
  client/src/game2d/Game2D.js
  client/src/game2d/RemoteServerConnection.js
  client/src/game2d/keyMouseActions.js
  client/src/game2d/view/Animator.js
  client/src/game2d/view/ItemsFactory.js
  client/src/game2d/view/Loader.js
  client/src/game2d/view/UiActionGenerator.js
  client/src/game2d/view/View.js
  client/src/game2d/view/textures/char.png
  client/src/game2d/view/textures/grass1.png
  client/src/game2d/view/textures/grass4items.png
  client/src/game2d/view/textures/hills.png
  client/src/game2d/view/textures/lake.png
  client/src/game2d/view/textures/mountain.png
  client/src/game2d/view/textures/road.png
  client/src/game2d/view/textures/tree3items.png
  client/src/game2d/view/textures/treeApple.png
  client/src/game2d/view/textures/treesBurned.png
  client/src/index.css
  client/src/utils/decorateWithEvents.js
  core/WS_ACTIONS.js
  core/server/ServerCore.js
  readme.md
Labels: client

#7 Add Health Bar with Html/React, add ability to show message via html
  client/src/App.js
  client/src/components/GameUi/index.js
  client/src/components/GameUi/style.css
  client/src/components/Login/index.js
  client/src/components/Login/style.css
  client/src/game2d/Game2D.js
  client/src/game2d/view/View.js
  core/utils/decorateWithEvents.js
Labels: client

#8 Target units (SERVER mostly)
  client/README.md
  client/src/game2d/Game2D.js
  client/src/game2d/keyMouseActions.js
  client/src/game2d/view/ItemsFactory.js
  client/src/game2d/view/UiActionGenerator.js
  client/src/game2d/view/View.js
  core/WS_ACTIONS.js
  core/server/ServerCore.js
  core/state/WorldState.js
  core/utils/collisions.js
Labels: client, server

#9 Feature/long range action
  .gitignore
  client/src/game2d/Game2D.js
  client/src/game2d/RemoteServerConnection.js
  client/src/game2d/view/Animator.js
  client/src/game2d/view/View.js
  core/server/ServerCore.js
  core/server/projectiles/Projectile.js
  core/utils/collisions.js
  package.json
Labels: client, enhancement, server

#10 Add nice target bar & unit name
  client/src/App.js
  client/src/components/GameUi/HpBarBig/index.js
  client/src/components/GameUi/HpBarBig/style.module.css
  client/src/components/GameUi/index.js
  client/src/components/GameUi/style.css
  client/src/game2d/Game2D.js
  client/src/game2d/view/View.js
  core/state/CharFactory.js
  core/state/WorldState.js
Labels: client

#11 Rafactoring
  client/dev_story/Screenshot from 2019-08-10 14-26-36.png
  client/dev_story/Screenshot from 2019-08-10 14-27-07.png
  client/src/App.js
  client/src/game2d/Game2D.js
  client/src/game2d/keyMouseActions.js
  client/src/game2d/view/Animator.js
  client/src/game2d/view/ItemsFactory.js
  client/src/game2d/view/UiActionGenerator.js
  client/src/game2d/view/View.js
  client/src/utils/decorateWithEvents.js
  core/WS_ACTIONS.js
  core/server/ServerCore.js
  core/state/CharFactory.js
  core/state/WorldState.js
  readme.md
  server/deploy.sh
  server/src/server.js
Labels: client, server

#13 Create Bandit + Aggressive behaviour
  client/src/game2d/view/Animator.js
  core/server/ServerCore.js
  core/server/wishes/AggressiveWish.js
  core/server/wishes/FollowWish.js
  core/state/UnitLibrary.js
  core/state/WorldState.js
  readme.md
Labels: server

#14 Add debug levels. Optional debug channels output
  core/package.json
  core/server/ServerCore.js
  readme.md
  server/package.json
  server/src/http/game.js
Labels: server

#15 Add Bandit (near mountain)
  client/src/game2d/view/Animator.js
  client/src/game2d/view/ItemsFactory.js
  core/server/wishes/AggressiveWish.js
  core/state/WorldState.js
  readme.md
Labels: client, server
